<!doctype html>
<html lang="en">

	{% include "components/header.njk" %}

	<body>

<style>
.markdown-body h1:after
{
    content:'{{ content | readingTime }} to read • {{ page.date | readableDate }} ';
    display:block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 12px;
    font-weight: normal;
}
</style>
        {% include "components/topbar.njk" %}
        
        <div class="main">
            {% include "components/navleft.njk" %}
            <div>

<script type="text/javascript">
// mail to function for menu
function SendMail()
{
  
  var subject = "[Shared Content] {{title or renderData.title or metadata.title or page.fileSlug}}";
  var body = "{{title or renderData.title or metadata.title or page.fileSlug}}\n" + window.location;
  var message = "mailto:?subject="+encodeURIComponent(subject)+"&body="+encodeURIComponent(body);
  window.location.href = message;
}
</script>
            <article class="markdown-body">
            <div class="navbar">
            {% set release = releases %}
            {%- for entry in release %}
                <a ref='#' title="branch:{{ entry.branch }}" >
                <div class="badge">
                   <div class="name"><span>release</span></div>
                   <div class="status blue"><span>{{ entry.name }}</span></div>
                </div>
                </a> 
            {%- endfor %}
            <a href="{{ pkg.repository.url }}-/blob/master/{{page.inputPath}}" title="Edit this page on Gitlab"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
            <a href="{{ pkg.repository.url }}-/issues" title="Send Feedback or Question about this page"><i class="fa fa-commenting-o" aria-hidden="true"></i> Feedback</a>
            
            
            <a href="" onClick=SendMail() title="Share URL/Link"><i class="fa fa-share-square-o" aria-hidden="true"></i> Share</a>
            <a href="" id="copy-button" title="Copy page link to clipboard"><i class="fa fa-link" aria-hidden="true"></i> Copy Link</a>
            <!-- 
           
            {% set people = contributors %}
            {%- for entry in people %}
                <a ref='#'><span class="contributor">{{ entry.shortname }}</span></a> 
            {%- endfor %}
            -->

            
            </div>


            {{ content | safe }}
 
            </article>
            </div>
            {% include "components/footer.njk" %}
            
        </div>
		
<script>

// script for copy function on menu bar
var copyButton = document.getElementById("copy-button");  // element after footer
copyButton.addEventListener('click', function(e){
    var copyText = document.getElementById("clip");
    copyText.value = window.location.toString();
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
    e.preventDefault();
});
</script>

	</body>

</html>