<script>
// sidenavbar: add event to open tree
var toggler = document.getElementsByClassName("caret");
var i;

function interceptClickEvent(e){
  if (this.classList.contains("selected")){
      // open, so close open submenu
      this.parentElement.querySelector(".open").classList.toggle("closed");
      this.parentElement.querySelector(".open").classList.toggle("open");

      // open so set caret to close
      this.parentElement.querySelector(".fa-caret-down").classList.toggle("fa-caret-right");
      this.parentElement.querySelector(".fa-caret-down").classList.toggle("fa-caret-down");
      
      e.preventDefault();
  }
}

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", interceptClickEvent);
}

// sidenav bar: open tree to selected element
function openelem(elem){
  var parentClassList = elem.parentElement.classList;
  if (parentClassList.contains("submenu")){
    if (parentClassList.contains("closed")){
      // submenu has selected element that needs to open
      elem.parentElement.classList.toggle("open");  
      elem.parentElement.classList.toggle("closed");     

      // open caret
      sibling = elem.parentElement.previousElementSibling;
      carets = sibling.getElementsByClassName("fa-caret-right");
      for (j=0; j < carets.length; j++){
        carets[j].classList.toggle("fa-caret-down");
        carets[j].classList.toggle("fa-caret-right");
      }
    }
    openelem(elem.parentElement);
  }
}
var selected = document.getElementsByClassName("selected");
var i;
for (i = 0; i < selected.length; i++) {
  // open any enclosing submenu elements
  openelem(selected[i]);
}
</script>

<style>
.footer2{
				width: 100%;
				background-color: lightblue;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        display: flex;
        align-items: center;
        font-size: 12px;
        height: 25px;
        padding-left: 10px;
      }
.clipbox {
  border: 0px;
  color: white;
  border-color: white;
}
</style>
<div style="height: 20px;background-color: white;"></div>
<div class="footer2">
<div>© FUJITSU 2020 – Internal use only | This site is maintained by {{ pkg.repository.contact }}</span></div>
</div>
<div style="height: 20px;background-color: white;">
<input class="clipbox" type="text" value="" id="clip" >
</div>
<script>
// open external links in new page
var links = document.links;
for (var i = 0, linksLength = links.length; i < linksLength; i++) {
   if (links[i].hostname != window.location.hostname) {
       links[i].target = '_blank';
   } 
}
</script>
