<head>
  <title>{{title or renderData.title or metadata.title or page.fileSlug}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" type="/image/png"  href="/favicon.png" >
  <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
  <script>var printTask = function(taskId) {
      alert('taskId: ' + taskId);
    };
    var config = {
      startOnLoad:true,
      securityLevel:'loose',
    };mermaid.initialize(config);</script>
</head>