<!-- macro for sub menu -->
{% macro renderNavListItem(entry) -%}



{%- if entry.children.length -%}

  {% if entry.url == page.url %} 
     <a class="menuitem caret selected"  href="{{ entry.url | url }}/index.html"><i class="fa caret-padding-width fa-caret-down" style="font-size:18px;color:red"></i>{{ entry.title }}</a>  
  {%- else -%}
     <a class="menuitem"  href="{{ entry.url | url }}/index.html"><i class="fa caret-padding-width fa-caret-right" style="font-size:18px;color:red"></i>{{ entry.title }}</a>  
  {% endif %}
  
  <div {% if entry.url == page.url %} class="submenu open"{%- else -%} class="submenu closed"{% endif %} >
    
    {%- for child in entry.children %}
      {{ renderNavListItem(child) }}
    {% endfor -%}  
  </div>

{%- else -%}
  
<a {% if entry.url == page.url %} class="menuitem caret-padding selected"{%- else -%} class="menuitem caret-padding"{% endif %} href="{{ entry.url | url }}/index.html">{{ entry.title }}</a>

{%- endif -%}


{%- endmacro %}

<!-- Side navigation -->

{% set navPages = collections.all | eleventyNavigation %}

<div class="sidenav markdown-body">

{%- for entry in navPages %}

<a {% if entry.url == page.url %} class="menuitem caret-padding selected"{%- else -%} class="caret-padding menuitem"{% endif %} href="{{ entry.url | url }}index.html">{{ entry.title }}</a>

{%- if entry.children.length -%}


  {%- for child in entry.children %}
    {{ renderNavListItem(child) }}
  {% endfor -%}



{%- endif -%}
{%- endfor -%}

</div>
